# Capstone Project

## Introduction

### Concentrated on selection of cinema location according to its nearby environment. Cinema facility and rental price is not my concern. He lists out his top 10 favorite cinemas in Hong Kong with rating.

## Data

I need to compare 5 possible locations with current cinemas in Hong Kong. Therefore, I need to find a list of Hong Kong cinema and cinemas' geographic coordinates. Luckily, I can find the list and coordinates from the website https://hkmovie6.com/cinema .

In [28]:
# importing libraries
import json
import pandas as pd
print('Libraries are imported.')

Libraries are imported.

In [24]:
# Download the cinema list
!wget -O hk_cinema_list.json https://hkmovie6.com/api/cinemas/lists

--2020-02-04 21:56:03--  https://hkmovie6.com/api/cinemas/lists
Resolving hkmovie6.com (hkmovie6.com)... 104.31.66.1, 104.31.67.1, 2606:4700:3035::681f:4201, ...
Connecting to hkmovie6.com (hkmovie6.com)|104.31.66.1|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/json]
Saving to: ‘hk_cinema_list.json’

    [ <=>                                   ] 56,404       350KB/s   in 0.2s

2020-02-04 21:56:04 (350 KB/s) - ‘hk_cinema_list.json’ saved [56404]

In [25]:
# Convert the JSON data into DataFrmae
cinemas_json = None
with open('hk_cinema_list.json', 'r', encoding='utf-8') as f:
    cinemas_json = json.load(f)
    
cinemas = []
for data in cinemas_json['data']:    
    cinemas.append({
        'Name': data['name'],
        'ChiName': data['chiName'],
        'Address': data['address'],
        'Latitude': data['lat'],
        'Longitude': data['lon']
    })
df_cinemas = pd.DataFrame(cinemas, columns=['Name','ChiName','Address','Latitude','Longitude'])

In [26]:
print('There are {} cinemas in Hong Kong'.format(len(df_cinemas)))

There are 73 cinemas in Hong Kong

In [27]:
df_cinemas.head()

,Name,ChiName,Address,Latitude,Longitude
0,Emperor Cinemas（CITYWALK）,英皇戲院（荃灣荃新天地）,"Citywalk II, Tsuen Wan",22.369749,114.113714
1,Emperor Cinemas（iSQUARE）,英皇戲院（尖沙咀iSQUARE）,"7/F, iSQUARE, 63 Nathan Road, Tsim Sha Tsui",22.304873,114.190682
2,Emperor Cinemas（Entertainment Building）,英皇戲院（中環娛樂行）,"3/F, Emperor Cinemas Entertainment Building, 3...",22.281453,114.154230
3,Emperor Cinemas（Ma On Shan）,英皇戲院（馬鞍山新港城中心）,"L2, MOSTown, Sai Sha Road, Ma On Shan, N.T.",22.424120,114.230957
4,Emperor Cinemas（Tuen Mun）,英皇戲院（屯門新都商場）,"3/F, New Town Commercial Arcade, 2 Tuen Lee St...",22.390776,113.975983


Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, and what machine learnings were used and why.

In [44]:
duplicated = df_cinemas.duplicated('Address', keep=False)
df_cinemas[duplicated].sort_values('Address')

,Name,ChiName,Address,Latitude,Longitude
19,Cinema City VICTORIA (Causeway Bay),Cinema City VICTORIA (銅鑼灣),"2-8 Sugar Street, Causeway Bay, Hong Kong",22.279805,114.187126
20,Diamond Suite VIP House @ Cinema City VICTORIA...,Diamond Suite VIP House @ Cinema City VICTORIA...,"2-8 Sugar Street, Causeway Bay, Hong Kong",22.279805,114.187126
50,UA Cine Moko,UA Cine Moko,"L4, MOKO, 193 Prince Edward Road West, Mongkok...",22.323800,114.172000
53,UnionPay IMAX @ UA Cine Moko,UnionPay IMAX @ UA Cine Moko,"L4, MOKO, 193 Prince Edward Road West, Mongkok...",22.323800,114.172000
48,Oscars Club @ UA MegaBox,Oscars Club @ UA MegaBox,"Level 11, MegaBox, Enterprise Square 5, 38 Wan...",22.319533,114.208555
52,UA MegaBox,UA MegaBox,"Level 11, MegaBox, Enterprise Square 5, 38 Wan...",22.319533,114.208555
54,UnionPay IMAX @ UA MegaBox,UnionPay IMAX @ UA MegaBox,"Level 11, MegaBox, Enterprise Square 5, 38 Wan...",22.319533,114.208555
15,Blackbox @ K11 Art House,Blackbox @ K11 Art House,"Shop 415, 4/F, Victoria Dockside K11 MUSEA, 18...",22.294059,114.171934
16,K11 Art House,K11 Art House,"Shop 415, 4/F, Victoria Dockside K11 MUSEA, 18...",22.294059,114.171934
17,UnionPay IMAX @ K11 Art House,UnionPay IMAX @ K11 Art House,"Shop 415, 4/F, Victoria Dockside K11 MUSEA, 18...",22.294059,114.171934

In [45]:
# The Grand SC Starsuite -> The Grand Cinema
df_cinemas.loc[29, 'Name'] = 'The Grand Cinema'

# XXX @ UA MegaBox -> UA MegaBox
df_cinemas.loc[44, 'Name'] = 'UA MegaBox'
df_cinemas.loc[45, 'Name'] = 'UA MegaBox'

# BEA IMAX @ UA Cine Moko -> UA Cine Moko
df_cinemas.loc[42, 'Name'] = 'UA Cine Moko'

# XXX @ UA iSQUARE -> iSQUARE
df_cinemas.loc[43, 'Name'] = 'UA iSQUARE'
df_cinemas.loc[46, 'Name'] = 'UA iSQUARE'

# Emperor Cinemas - Entertainment Building
df_cinemas.loc[1, 'Name'] = 'Emperor Cinemas - Entertainment Building'

# Cinema City VICTORIA (Causeway Bay)
df_cinemas.loc[6, 'Name'] = 'Cinema City VICTORIA (Causeway Bay)'

In [46]:
df_cinemas[duplicated]

,Name,ChiName,Address,Latitude,Longitude
15,Blackbox @ K11 Art House,Blackbox @ K11 Art House,"Shop 415, 4/F, Victoria Dockside K11 MUSEA, 18...",22.294059,114.171934
16,K11 Art House,K11 Art House,"Shop 415, 4/F, Victoria Dockside K11 MUSEA, 18...",22.294059,114.171934
17,UnionPay IMAX @ K11 Art House,UnionPay IMAX @ K11 Art House,"Shop 415, 4/F, Victoria Dockside K11 MUSEA, 18...",22.294059,114.171934
19,Cinema City VICTORIA (Causeway Bay),Cinema City VICTORIA (銅鑼灣),"2-8 Sugar Street, Causeway Bay, Hong Kong",22.279805,114.187126
20,Diamond Suite VIP House @ Cinema City VICTORIA...,Diamond Suite VIP House @ Cinema City VICTORIA...,"2-8 Sugar Street, Causeway Bay, Hong Kong",22.279805,114.187126
48,Oscars Club @ UA MegaBox,Oscars Club @ UA MegaBox,"Level 11, MegaBox, Enterprise Square 5, 38 Wan...",22.319533,114.208555
50,UA Cine Moko,UA Cine Moko,"L4, MOKO, 193 Prince Edward Road West, Mongkok...",22.323800,114.172000
52,UA MegaBox,UA MegaBox,"Level 11, MegaBox, Enterprise Square 5, 38 Wan...",22.319533,114.208555
53,UnionPay IMAX @ UA Cine Moko,UnionPay IMAX @ UA Cine Moko,"L4, MOKO, 193 Prince Edward Road West, Mongkok...",22.323800,114.172000
54,UnionPay IMAX @ UA MegaBox,UnionPay IMAX @ UA MegaBox,"Level 11, MegaBox, Enterprise Square 5, 38 Wan...",22.319533,114.208555

In [47]:
df_cinemas.drop_duplicates('Address', inplace=True, keep='first')

drop the records

In [48]:
df_cinemas[df_cinemas.duplicated('Name')]

,Name,ChiName,Address,Latitude,Longitude
19,Cinema City VICTORIA (Causeway Bay),Cinema City VICTORIA (銅鑼灣),"2-8 Sugar Street, Causeway Bay, Hong Kong",22.279805,114.187126
45,UA MegaBox,Cinema City JP,"3/F JP Plaza, 22-36 Paterson Street, Causeway ...",22.281040,114.185853
46,UA iSQUARE,Cinema City 朗豪坊,"Level 8-11, Langham Place, 8 Argyle Street, Mo...",22.317922,114.168704
50,UA Cine Moko,UA Cine Moko,"L4, MOKO, 193 Prince Edward Road West, Mongkok...",22.323800,114.172000

In [49]:
df_cinemas.head()

,Name,ChiName,Address,Latitude,Longitude
0,Emperor Cinemas（CITYWALK）,英皇戲院（荃灣荃新天地）,"Citywalk II, Tsuen Wan",22.369749,114.113714
1,Emperor Cinemas - Entertainment Building,英皇戲院（尖沙咀iSQUARE）,"7/F, iSQUARE, 63 Nathan Road, Tsim Sha Tsui",22.304873,114.190682
2,Emperor Cinemas（Entertainment Building）,英皇戲院（中環娛樂行）,"3/F, Emperor Cinemas Entertainment Building, 3...",22.281453,114.154230
3,Emperor Cinemas（Ma On Shan）,英皇戲院（馬鞍山新港城中心）,"L2, MOSTown, Sai Sha Road, Ma On Shan, N.T.",22.424120,114.230957
4,Emperor Cinemas（Tuen Mun）,英皇戲院（屯門新都商場）,"3/F, New Town Commercial Arcade, 2 Tuen Lee St...",22.390776,113.975983

In [50]:
df_cinemas['ChiName'].to_frame()

                             ChiName
0                       英皇戲院（荃灣荃新天地）
1                   英皇戲院（尖沙咀iSQUARE）
2                        英皇戲院（中環娛樂行）
3                     英皇戲院（馬鞍山新港城中心）
4                       英皇戲院（屯門新都商場）
5              Festival Grand Cinema
6                               康怡戲院
7                               皇室戲院
8                          MCL 長沙灣戲院
9                           MCL 粉嶺戲院
10                         MCL 新都城戲院
11                          MCL 海怡戲院
12                          MCL 德福戲院
13                MOVIE TOWN - 新城市廣場
14                       STAR Cinema
15          Blackbox @ K11 Art House
18                       百老匯戲院 - 數碼港
19        Cinema City VICTORIA (銅鑼灣)
21                        PALACE ifc
22                     B+ cinema apm
23                           百老匯電影中心
24                       百老匯戲院 - 荷里活
25                        百老匯戲院 - 旺角
26                   百老匯戲院 - The ONE
27             MOViE MOViE Cityplaza
28                 PREMIERE ELEMENTS
29                      百老匯戲院 - 嘉湖銀座
30                        百老匯戲院 - 葵芳
31                        百老匯戲院 - 荃灣
32               MY CINEMA YOHO MALL
33                 AMC Pacific Place
34              CGV Cinemas D2 Place
35                     the sky (奧海城)
36                              嘉禾黃埔
37                              嘉禾粉嶺
38                         嘉禾 V WALK
39                             StagE
40                              嘉禾啟德
41                              海運戲院
42                               星影匯
43  CANDY PARK BY CINEMA CITY (愉景新城)
44                    Cinema City 柴灣
45                    Cinema City JP
46                   Cinema City 朗豪坊
47                     UA Cine Times
48          Oscars Club @ UA MegaBox
49                             UA 淘大
50                      UA Cine Moko
51                            UA 青衣城
55                            UA 東薈城
56                                總統
57                                新寶
58                          香港科學館演講廳
59                              影藝戲院
60                                凱都
61                        巴黎倫敦紐約米蘭戲院
62                              元朗戲院
63                       香港兆基創意書院放映室
64             L Cinema Shau Kei Wan
65                        香港電影資料館電影院
66                           饒館新一天院線
67                      香港藝術中心古天樂電影院
68                      Lumen Cinema
69                              寶石戲院
70                           新光戲院大劇場
71                        Super 3 影院
72                                大館

Cinema '新光戲院大劇場' and '大館' should be considered as cinema in Hong Kong. These records must be rmeoved

In [51]:
df_cinemas.drop(index=[65,67], inplace=True)

In [52]:
df_cinemas.drop(axis=1, columns=['ChiName'], inplace=True)

In [53]:

df_cinemas.head()

,Name,Address,Latitude,Longitude
0,Emperor Cinemas（CITYWALK）,"Citywalk II, Tsuen Wan",22.369749,114.113714
1,Emperor Cinemas - Entertainment Building,"7/F, iSQUARE, 63 Nathan Road, Tsim Sha Tsui",22.304873,114.190682
2,Emperor Cinemas（Entertainment Building）,"3/F, Emperor Cinemas Entertainment Building, 3...",22.281453,114.154230
3,Emperor Cinemas（Ma On Shan）,"L2, MOSTown, Sai Sha Road, Ma On Shan, N.T.",22.424120,114.230957
4,Emperor Cinemas（Tuen Mun）,"3/F, New Town Commercial Arcade, 2 Tuen Lee St...",22.390776,113.975983

In [54]:
df_cinemas.shape

(65, 4)

In [59]:
boss_favorite

[{'Name': 'Broadway Circuit - MONGKOK', 'Rating': 4.5},
 {'Name': 'Broadway Circuit - The ONE', 'Rating': 4.5},
 {'Name': 'Grand Ocean', 'Rating': 4.3},
 {'Name': 'The Grand Cinema', 'Rating': 3.4},
 {'Name': 'AMC Pacific Place', 'Rating': 2.3},
 {'Name': 'UA IMAX @ Airport', 'Rating': 1.5}]

In [60]:
names = [ cinema['Name'] for cinema in boss_favorite ]
df_cinemas[df_cinemas.Name.isin(names)]

,Name,Address,Latitude,Longitude
25,Broadway Circuit - MONGKOK,"6-12 Sai Yeung Choi Street, Mongkok, Kowloon",22.317077,114.170662
26,Broadway Circuit - The ONE,"6-11/F, The ONE, No. 100 Nathan Road, Tsim Sha...",22.300058,114.172667
29,The Grand Cinema,"Kingswood Ginza, 18 Tin Yan Road, Tin Shui Wai...",22.457220,114.003976
33,AMC Pacific Place,"Level 1, Pacific Place, 88 Queensway Road, Hon...",22.277673,114.165566
41,Grand Ocean,"Ocean Centre, 3 Canton Road, Kowloon",22.295165,114.169176

In [61]:
df_boss_favorite = pd.DataFrame(boss_favorite, columns=['Name','Rating'])
df_boss_favorite

                         Name  Rating
0  Broadway Circuit - MONGKOK     4.5
1  Broadway Circuit - The ONE     4.5
2                 Grand Ocean     4.3
3            The Grand Cinema     3.4
4           AMC Pacific Place     2.3
5           UA IMAX @ Airport     1.5

Data Analysis

In [62]:
!conda install seaborn=0.9 --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - seaborn=0.9


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2020.1.1   |                0         132 KB
    certifi-2019.11.28         |           py36_0         156 KB
    ------------------------------------------------------------
                                           Total:         289 KB

The following packages will be UPDATED:

    ca-certificates: 2019.11.28-hecc5488_0 conda-forge --> 2020.1.1-0
    certifi:         2019.11.28-py36_0     conda-forge --> 2019.11.28-py36_0
    openssl:         1.1.1d-h516909a_0     conda-forge --> 1.1.1d-h7b6447c_3


Downloading and Extracting Packages
ca-certificates-2020 | 132 KB    | ##################################### | 100%
certifi-2019.11.28   | 156 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [65]:
!conda install -c conda-forge folium=0.5 --yes
import folium

print('Folium installed and imported!')

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2019.11.28         |           py36_0         149 KB  conda-forge

The following packages will be UPDATED:

    certifi:         2019.11.28-py36_0 --> 2019.11.28-py36_0     conda-forge

The following packages will be DOWNGRADED:

    ca-certificates: 2020.1.1-0        --> 2019.11.28-hecc5488_0 conda-forge
    openssl:         1.1.1d-h7b6447c_3 --> 1.1.1d-h516909a_0     conda-forge


Downloading and Extracting Packages
certifi-2019.11.28   | 149 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Folium installed and imported!

In [ ]:
hk_coords = getLatLng('Hong Kong')

Visualize the location of cinemas, target location and stakeholder's favorite cineams on the map

In [ ]:
hk_map = folium.Map(location=hk_coords, zoom_start=12, tiles='Stamen Toner')

cinemas_fg = folium.FeatureGroup()
targets_fg = folium.FeatureGroup()

for(location, address, latitude, longitude) in df_possible_locations.itertuples(index=False):
    targets_fg.add_child(
        folium.features.CircleMarker(
            location=(latitude, longitude),
            popup=location,
            radius=5,
            fill=True,
            color='yellow',
            fill_opacity=1.
        )
    )

boss_ratings = df_boss_favorite.set_index('Name')    
name_list = boss_ratings.index.tolist()

for (name, address, latitude, longitude ) in df_cinemas.itertuples(index=False):    
    
    color = 'blue'        
    popup = name
    
    if( name in name_list ):
        color = 'red'    
        popup = '{} - Rating: {}'.format(name, boss_ratings.loc[name,'Rating'])
        
    cinemas_fg.add_child(        
        folium.features.CircleMarker(
            location=(latitude, longitude),
            popup=popup,
            radius=5,
            fill=True,
            color=color,
            fill_opacity=1.
        )
    )
    
hk_map.add_child(cinemas_fg)
hk_map.add_child(targets_fg)

Most of Hong Kong cinemas (blue circle) and stakeholder's favorite cinemas (red circle) location are built near main road, and centralized in urban area of Hong Kong. The target locations (yellow circle) of new cinema are not near to main road.

## results

With the boss's profile and the complete list of cinemas and their venues count in hand, I am going to take the weighted average of every lcoation based on the profile and recommend the top location that most satisfy it.

In [ ]:
df_recommend = (df_targets_normalized*boss_profile).sum(axis=1)/boss_profile.sum()
df_recommend = df_recommend.reset_index(name='Rating')

In [ ]:
df_possible_locations

In [ ]:
df_final = pd.merge(
    df_possible_locations,
    df_recommend,
    left_on='Location',
    right_on='Location'
)
df_final.sort_values('Rating', ascending=False, inplace=True)

In [ ]:
df_final


The result is reasonable. Location "L5" has the most number of venues in category "Bus Stop", "Food", "Metro Station" and "Shop & Service".

## Discussion

Discussion section where you discuss any observations you noted and any recommendations you can make based on the results.

In [ ]:
df_venues_count.mean().to_frame(name='Average Count')
df_target_venues_count.mean().to_frame('Average Count')

I should contact local commercial property agents to find more suitable locations. Moreover, FourSquare is not popular in Hong Kong, the data maybe out-dated or unreliable, the report should gather more data from other location data source such as Google Place API.

## Conclusion

The stakeholder's problem is resolved. Stakeholder wants to find the best place to build a new cinema in Hong Kong, and the factors of "best location" is based on the number of venues in eating, shopping, transportation category around the location. Stakeholder also provide his favorite list of cinema to further explain what the "best location" is. Content-based filtering machine learning technique is the most suitable method to resolve the problem. It combines stakeholder's preference and cinema profile to make the recommendation result.

The 5 target locations of new cinema may not be a good choices. As the weighting matrix is developed, I can quickly pick other locations and make the recommendation again.